*.dylib
*.o
*.os
*.pyc
*.so
.sconf_temp
.sconsign.dblite
_build.*
config.log
doc/*.tag
doc/doxygen.conf
doc/html
doc/xml
examples/centroid
examples/coeff
examples/cr
examples/growthcurve
examples/localPsf
examples/psf
policy/tempfile*.tmp
python/lsst/meas/algorithms/version.py
tests/.tests
tests/data/psf*.*
tests/test_psfAttributes
tests/test_sizeMagnitudeStarSelector
tests/test_psfCaching
tests/test_imagePsf
tests/test_warpedPsf
ups/*.cfgc
python/lsst/meas/algorithms/version.py
.cache