/.sconsign.dblite
/.sconf_temp
/config.log
/cimage.fits
/cellip*
doc/*.tag
doc/html
doc/doxygen.conf
examples/centroid
examples/cr
examples/growthcurve
examples/coeff
examples/*.pyc
examples/psf
examples/localPsf
lib/*.dylib
lib/*.so
policy/tempfile*.tmp
python/lsst/meas/*.pyc
python/lsst/meas/algorithms/algorithmsLib.py
python/lsst/meas/algorithms/algorithmsLib_wrap.cc
python/lsst/meas/algorithms/*.pyc
python/lsst/meas/algorithms/*.so
python/lsst/meas/algorithms/*.os
src/*.os
src/centroid/*.os
src/photometry/*.os
src/shapelet/*.os
src/shapelet/*.o
src/shapes/*.os
tests/*.pyc
tests/*.o
tests/*.so
tests/.tests
tests/testLib.py
tests/testLib_wrap.os
tests/testLib_wrap.cc
tests/photometry
tests/psfAttributes
tests/sizeMagnitudeStarSelector
tests/data/*
ups/*.cfgc
